:root {
	--primary-brand-color: #4d5ae5;
	--pressed-state-color: #404bbf;
	--dark-color: #2e2f42;
	--success-color: #31d0aa;
	--text-color: #434455;
	--subtle-text-color: #8e8f99;
	--accent-color: #e7e9fc;
	--light-color: #f4f4fd;
	--modal-overlay-color: rgba(46, 47, 66, 0.4);
	--hero-background-color: rgba(46, 47, 66, 0.7);
	--white-background-color: #ffffff;
	--modal-background-color: #fcfcfc;
}

body {
	font-family: 'Roboto', sans-serif;
}
